<head>
<%= stylesheet_link_tag "tictactoe", "data-turbo-track": "reload" %>

</head>
<div id='game'>
  <h1>Tic-Tac-Toe</h1>

  <div id='container'>
    <button id="btw1"></button>
    <button id="btw2"></button>
    <button id="btw3"></button>
    <button id="btw4"></button>
    <button id="btw5"></button>
    <button id="btw6"></button>
    <button id="btw7"></button>
    <button id="btw8"></button>
    <button id="btw9"></button>
  </div>

</div>

<script src="<%= javascript_path 'tictactoe' %>"></script>